.nome{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

        .nome::after{
            content: "|";
            margin-left: 5px;
            opacity: 1;
            animation: pisca .75s infinite;
        }

        @keyframes pisca {
            0%, 100% {
                opacity: 1;
            }
            50% {
                opacity: 0;
            }
        }